main {
	margin-left: 3%;
	margin-right: 3%;
	width: 90%;
}

body {
	background-color: lightgray;
	font-family: Courier;
}

header {
	background-color: maroon;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 50px;
}

h1 {
color: yellow;
background-color: maroon;
text-align: center;
padding: 5px;
margin-bottom: 50px;
}

section {

	background-color: #ff6666;
	line-height: normal;
	margin: .5em;
	padding: 15px;
}

aside {
	background-color: black;
	text-align: left;
	margin-right: 20px;
}

footer {
	background-color: maroon;
		text-align: center;
		margin-top: 40px;
}
	
h2 {
	color: rgb(204, 204, 0);
	padding-left: 10px;
}

ul {
	list-style-type: square;
}






